
.in-active {
    animation: slide 1s reverse;
}
.active {
    animation: slide 1s forwards;
 
}
@keyframes slide{
    0% {
        transform: translateY(3%);
    }
    100% {
        transform: translateY(-5%);
    }
}
